*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  background-color: #F6F1E8;
  --nav-height: 64px;
  color: #2C2C2C;
}

ul{
    list-style-type: none;
}
a{
  text-decoration: none;
}

.container{
  width: 100vw;
  display: flex;
  /* background-color: #2C2C2C; */
}

/* Modal Support */

.row-modal-true{
  width: 84vw;
}
.row-modal-false{
  width: 100vw;
}


.sidebar-true{
    width: 16vw;
    position: fixed;
    right: 0;
    
}
  

.sidebar-false{
    width: 0vw;
}

/*  Side Bars */

.sidebar--wrapper{
    border-top: 4px solid #0F3D2E;
    border-left: 4px solid #0F3D2E;
    border-bottom: 4px solid #0F3D2E;
    background-color: #1F6B45;
    height: 100vh;
    position: relative;
}
.exit-btn{
    color: #0F3D2E;
    position: absolute;
    font-size: 2rem;
    right: 26px;
    top: 10px;
    transition: all .3s ease;
}
.exit-btn:hover{
    color: #E38B37;
    text-shadow: 0 0 0 3px rgba(127, 255, 0, 0.3);
}

/* Nav Bar */
.nav--wrapper{
  
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #8FBFA3;
    border-bottom: 2px solid #0F3D2E ;
}

.nav--links{
    display: flex;
    align-items: center;
}
.nav--link{
    font-size: 1.3rem;
    padding: 2rem 2rem;
}
.account{
    border: 2px solid #0F3D2E;    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: .6rem .8rem;
}

.nav--link:hover{
  color: #E38B37;
}
.nav__logo--wrapper{
  display: flex;
  height: 100%;
}
/* Outlet - Home */
.book-wall--wrapper{
  height: calc(100vh - var(--nav-height));
}

/* Footer */

.footer{
  display: flex;
  width: 100vw;
  background-color: #0F3D2E;
  height: 30vh;
  align-items: end;
  justify-content: center;
  /* overflow: hidden; */
}

.footer--wrapper{
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%; 
  align-items: center;
  justify-content: space-between;
} 

.social__links{
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  padding: 10px;
}

.footer__link a{
  font-size: 2rem;
  color: #8FBFA3;
  font-weight: 600;
}
.footer__link a:hover{
  color: #1F6B45;
}

.footer-logo--wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60%;

}
.footer__image--wrapper{
  display: flex;
  height: 5rem;
}
.footer__image--img{
  display: flex;
  border-radius: 8px;
  opacity: .8;
  
} 
.footer__link--copy{
  opacity: .5;
    color: #f0f8ff;
    font-weight: 500;
    font-size: .9rem;
}