*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  background-color: #F6F1E8;
  --nav-height: 64px;
  color: #2C2C2C;
}

ul{
    list-style-type: none;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.container{
  width: 100vw;
  display: flex;
  /* background-color: #2C2C2C; */
}

/* Modal Support */

.row-modal-true{
  width: 84vw;
}
.row-modal-false{
  width: 100vw;
}


.sidebar-true{
    width: 16vw;
    position: fixed;
    right: 0;
    
}
  

.sidebar-false{
    width: 0vw;
}

/*  Side Bars */

.sidebar--wrapper{
    border-top: 4px solid #0F3D2E;
    border-left: 4px solid #0F3D2E;
    border-bottom: 4px solid #0F3D2E;
    background-color: #1F6B45;
    height: 100vh;
    position: relative;
}
.exit-btn{
    color: #0F3D2E;
    position: absolute;
    font-size: 2rem;
    right: 26px;
    top: 10px;
    transition: all .3s ease;
}
.exit-btn:hover{
    color: #E38B37;
    text-shadow: 0 0 0 3px rgba(127, 255, 0, 0.3);
}

.favorites--wrapper, .login-form--wrapper , .logout--wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 18% 0;
}
/* SideBar - Login */

.login-form{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    align-items: center;
}
.login-form input , .login-form button {
    border: 2px solid #0F3D2E;
    outline: none;
    border-radius: 4px;
    line-height: 1.4rem;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
.login-form input:focus-visible{
    border-color: chartreuse;
    box-shadow: 0 0 0 3px rgba(127, 255, 0, 0.3);

}

.login-form button , .logout--wrapper button{
    color: #0F3D2E;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 1.4rem 0;
}
/* SideBar - Log Out*/

.current-user--wrapper{
    border: 4px solid #0F3D2E;
    border-radius: 4px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  /* SideBar - Favorites*/
  .favorites--wrapper{
    align-items: center;
    justify-content: center;
  }
  .fav-unlogged{
    width: 90%;
    white-space: normal;
    text-align: center;
    padding-top: 40%;

  }
  .favorites__title{
    padding-top: 10%;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .favorites__list--wrapper{
    border: 4px solid #0F3D2E;
    width: 90%;
    height: 90%;
    margin-top: 10px;
    
    
    overflow-y: scroll;
    scrollbar-width: thin; /* makes the scrollbar thinner */
    scrollbar-color: #333 transparent;
    
  }
  
.favorites__list--item{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4px;
  background-color: #F6F1E8;
  border-radius: 2px;
  margin: 6px 0 6px 6px;
  position: relative;
}
.favorites__list--item:nth-child(odd){
  background-color: #8FBFA3;

}
.favorite-delete--btn{

  position: absolute;
  right: 6px;
}
/* Nav Bar */
.nav--wrapper{
  
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #8FBFA3;
    border-bottom: 2px solid #0F3D2E ;
}

.nav--links{
    display: flex;
    align-items: center;
}
.nav--link{
    font-size: 1.3rem;
    padding: 2rem 2rem;
}
.account{
    border: 2px solid #0F3D2E;    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: .6rem .8rem;
}

.nav--link:hover{
  color: #E38B37;
}
.nav__logo--wrapper{
  display: flex;
  height: 100%;
}

/* Outlet - Home */
.book-wall--wrapper{
  height: calc(100vh - var(--nav-height));
  display: flex;
  justify-content: center;
}
.book-wall--row{
  width: 82%;
}
.filter-bar--wrapper{
  height: 4%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 20px 0 0;
}

/* Featre Recipe */
.feature-recipe--wrapper{
  height: 54%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-card--wrapper{
  border: 4px solid #1F6B45;
  display: flex;
  width: 80%;
  height: 80%;
  
  align-items: center;
  border-radius: 10px;
  justify-content: space-evenly;
  background-color: #6ed1a08c;
  position: relative;
}
.feature-image--wrapper{
  border-radius: 10px;
  display: flex;
  height: 90%;
}
.feature-image--img{
  border-radius: 10px;
}

.feature-explore--wrapper{
  position: absolute;
  border: 2px solid #1F6B45;
  padding: 4px;
  border-radius: 4px;
  bottom: 5%;
  right: 5%;
}

/* Thubnail - Recipes */
.thubnail-recipes--wrapper{
  height: 42%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x:  scroll; 
  padding: 8px;
  border: 2px solid #8FBFA3;
}
.thubnail-recipe--wrapper{
  flex: 0 0 auto;
  display: flex;
  height: 50%;
  width: 15%;
  margin: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;

  border: 2px solid #8FBFA3;
  border-radius: 10px;

  background-size: cover;
  position: relative; 
  cursor: pointer;
}

.thubnail-recipe--wrapper::before{
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.822);
  border-radius: 10px 
}

.thubnail-recipe--wrapper p {
  position: relative;
    color: #2C2C2C; 
    text-align: center;
    padding-top: 8px;
    font-weight: 600;
}


/* Recipe Wall */
.recipe-recipe--wrapper{
  height: 98%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-card--wrapper{
  border: 4px solid #1F6B45;
  display: flex;
  width: 80%;
  height: 80%;
  
  align-items: center;
  border-radius: 10px;
  justify-content: space-around;
  background-color: #6ed1a08c;
  position: relative;
}
.recipe-social--wrapper{
  display: flex;
  height: 94%;
  width: 35%;
  padding: 10px;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
}

.recipe-image--wrapper{
  border-radius: 10px;
  display: flex;
  height: 30%;
  margin-bottom: 10px;
}
.recipe-image--img{
  border-radius: 10px;
}

.recipe-instruction--wrapper{
  overflow-y: scroll;
  transform: rotate(180deg);
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: #0F3D2E #8FBFA3;
}
.recipe-social--list{
  transform: rotate(180deg);

}

.recipe-favorite--wrapper{
  position: absolute;
  border: 2px solid #1F6B45;
  padding: 4px;
  border-radius: 4px;
  bottom: 5%;
  right: 5%;
}

/* Footer */

.footer{
  display: flex;
  width: 100vw;
  background-color: #0F3D2E;
  height: 30vh;
  align-items: end;
  justify-content: center;
  /* overflow: hidden; */
}

.footer--wrapper{
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%; 
  align-items: center;
  justify-content: space-between;
} 

.social__links{
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  padding: 10px;
}

.footer__link a{
  font-size: 2rem;
  color: #8FBFA3;
  font-weight: 600;
}
.footer__link a:hover{
  color: #1F6B45;
}

.footer-logo--wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60%;

}
.footer__image--wrapper{
  display: flex;
  height: 5rem;
}
.footer__image--img{
  display: flex;
  border-radius: 8px;
  opacity: .8;
  
} 
.footer__link--copy{
  opacity: .5;
    color: #f0f8ff;
    font-weight: 500;
    font-size: .9rem;
}

